<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wwp.web.dao.impl.SysRoleMapper" >

<select id="queryPageRole" resultType="com.wwp.web.entity.SysRole">
	SELECT role_code AS roleCode, role_name AS roleName FROM sys_role
</select>

</mapper>